---
import "../../scss/graph/Graph.scss"

const socials = [
  { name: "GitHub",     link: "https://github.com/bcd-kushal" },
  { name: "LinkedIn",   link: "https://linkedin.com/in/dev-kushal" },
  { name: "Instagram",  link: "https://instagram.com/dev.kushalkumar" },
  { name: "Discord",    link: "https://discordapp.com/users/628212302004355078" },
  { name: "Codepen",    link: "#" },
]

const websites = [
  { name: "Portfolio",  link: "https://portfolio.kushalkumarsaha.com" },
  { name: "Official",   link: "https://kushalkumarsaha.com" },
  { name: "Blogs",      link: "https://blogs.kushalkumarsaha.com" },
]

const personals = [
  { name: "Email",      link: "mailto:dev@kushalkumarsaha.com" },
  { name: "Phone",      link: "tel:+919123686897" },
]
---

<section id="graph-boxes">
    <canvas class="plane-canvas" id="plane-canvas"></canvas>
    <canvas class="main-canvas" id="main-canvas"></canvas>


    <!-- centre text: main -->
    <div class="center-text" >
      <span>K</span><span>U</span><span>S</span><span>H</span><span>A</span><span>L</span>
    </div>


    <!-- social links -->
    <div class="social-links">
      {socials.map(social=>(
        <a href={social.link} class="text-animation" data-js="text">{social.name.toUpperCase()}</a>
      ))}
    </div>

    <!-- website links -->
    <div class="website-links">
      {websites.map(website=>(
        <a href={website.link} class="text-animation" data-js="text">{website.name.toUpperCase()}</a>
      ))}
    </div>

    
    <!-- personal links -->
    <div class="personal-links">      
      {personals.map(personal=>(
        <a href={personal.link} class="text-animation" data-js="text">{personal.name.toUpperCase()}</a>
      ))}
    </div>


    <!-- footer -->
    <div class="plate">
       <h2 class="text-animation" data-js="text">FULL STACK SOFTWARE DEVELOPER</h2>
       <p class="text-animation" data-js="text">VARANASI, INDIA</p>
    </div>
</section>

<script src="../../js/graph/graph"></script>